.navbarClass{
    color: aqua
}

#container{
    margin-top: 2em;
}

#back{
    background-color: #ffffff;
}

#logo{
    background-image: url("logocoralutfpr.png");
    background-size: 100%;
}

#botao{
    background-color: #69bfa7
}