.nav-wrapper{
    background-color: #277373 !important;
}

.navbarClass{
    color: aqua
}

#container{
    margin-top: 2em;
}

#back{
    background-color: #ffffff;
}

#logo2{
    background-image: url("logocoralbranco.png");
    background-size: 100%;
}

#icone1{
    background-image: url("icone1.png");
    background-size: 100%;
}

#icone2{
    background-image: url("icone2.png");
    background-size: 100%;
}

#icone3{
    background-image: url("icone3.png");
    background-size: 100%;
}

#icone4{
    background-image: url("icone4.png");
    background-size: 100%;
}

#icone5{
    background-image: url("icone5.png");
    background-size: 100%;
}

#icone6{
    background-image: url("icone6.png");
    background-size: 100%;
}