.nav-wrapper{
    background-color: #277373 !important;
}

#botao{
    background-color: #277373
}

#back{
    background-color: #ffffff;
}

#component-container{
    margin-left: 2em;
    margin-right: 2em;
}

.collection{
    text-align: center;
}
